In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [9]:
server = 'DESKTOP-R92IV14\BI2'
database = 'TSQL2012'
username = 'sa'
password = '9090'

# رشته اتصال
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# اتصال
conn = pyodbc.connect(conn_str)

In [ ]:
query = "SELECT * FROM Sales.Orders" 
df = pd.read_sql(query, conn)
df

C:\Users\Aria\AppData\Local\Temp\ipykernel_23452\2486440396.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,orderid,custid,empid,orderdate,requireddate,shippeddate,shipperid,freight,shipname,shipaddress,shipcity,shipregion,shippostalcode,shipcountry
0,10248,85,5,2006-07-04,2006-08-01,2006-07-16,3,32.38,Ship to 85-B,6789 rue de l'Abbaye,Reims,None,10345,France
1,10249,79,6,2006-07-05,2006-08-16,2006-07-10,1,11.61,Ship to 79-C,Luisenstr. 9012,Münster,None,10328,Germany
2,10250,34,4,2006-07-08,2006-08-05,2006-07-12,2,65.83,Destination SCQXA,"Rua do Paço, 7890",Rio de Janeiro,RJ,10195,Brazil
3,10251,84,3,2006-07-08,2006-08-05,2006-07-15,1,41.34,Ship to 84-A,"3456, rue du Commerce",Lyon,None,10342,France
4,10252,76,4,2006-07-09,2006-08-06,2006-07-11,2,51.30,Ship to 76-B,"Boulevard Tirou, 9012",Charleroi,None,10318,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,58,2,2008-05-05,2008-06-02,NaT,2,24.95,Ship to 58-B,Calle Dr. Jorge Cash 4567,México D.F.,None,10262,Mexico
826,11074,73,7,2008-05-06,2008-06-03,NaT,2,18.44,Ship to 73-A,Vinbæltet 1234,Kobenhavn,None,10310,Denmark
827,11075,68,8,2008-05-06,2008-06-03,NaT,2,6.19,Ship to 68-A,Starenweg 6789,Genève,None,10294,Switzerland
828,11076,9,4,2008-05-06,2008-06-03,NaT,2,38.28,Ship to 9-A,"8901, rue des Bouchers",Marseille,None,10367,France
829,11077,65,1,2008-05-06,2008-06-03,NaT,2,8.53,Ship to 65-A,7890 Milton Dr.,Albuquerque,NM,10285,USA

In [ ]:
conn.close() # بستن اتصال