In [3]:
import numpy as np
import pandas as pd
import pickle
import os

In [8]:
data = pd.read_csv(r'C:\Users\Aria\OneDrive\Desktop\Data Science Course\Chapter 7\Preprocessing\DataPreprocessing.csv')

In [12]:
data

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes
5   India  40.0  69600.0            Yes
6  Brazil   NaN  62400.0             No
7   India  53.0  94800.0            Yes
8     USA  55.0  99600.0             No
9   India  42.0  80400.0            Yes

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          10 non-null     object
 1   Age             9 non-null      float64
 2   Income          9 non-null      float64
 3   Online Shopper  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [18]:
X = data.iloc[: , : -1]
Y = data.iloc[: , -1]
Y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Online Shopper, dtype: object